<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the error page.">
    <style>
         nav
        {
            background-color: #74A4BC;
            text-align: center;
            padding: 10px;
        }

        nav ul
        {
            list-style-type: none;
            padding-left: 0;
        }

        nav ul li
        {
            padding: 0px;
        }

        nav ul li a
        {
            display: block;
            text-decoration: none;
            font-size: 20px;
        }

        nav ul li a:hover
        {
            color: black;
        }

        .not-found
        {
            text-align: center;
        }
    </style>
    <title><%= title %></title>
</head>
<body>
    <nav>
        <div class="404-title">
            <a href="/"><h1>404 Error</h1></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/survey">Survey</a></li>
            <li><a href="/404">Error Page</a></li>
        </ul>
    </nav>
    <div class="not-found">
        <p>There is no content on this page. Click on one of the links above to return to Joe's Pizza.<p>
    </div>
</body>
</html>